raw_data/
weights/
**.DS_Store
.env
.envrc
model_weights/
notebooks/.ipynb_checkpoints
google_images/
masked/
original/
data_for_ml/
retrain_weights/

# Secrets
frontend/.streamlit/secrets.toml
frontend/.devcontainer/
watermark_remover.py
watermark_remover.pyZone.Identifier
data_for_ml
